/nbproject/private/
/build/
/dist/
.env
/src/resources/employeeImages/*
/src/resources/qrCodes/*
!/src/resources/employeeImages/.gitkeep
!/src/resources/employeeImages/default.png
!/src/resources/qrCodes/.gitkeep
/logs/*
!/logs/.gitkeep
